@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Tenor+Sans&display=swap');

:root {
  font-family: 'Tenor Sans', sans-serif;
  --font-shrikhand: 'Shrikhand', cursive;
  --font-tenor-sans: 'Tenor Sans', sans-serif;
  --color-primary: #ffffff;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3b4563;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f7d461;
  text-decoration: inherit;
}
a:hover {
  color: #f7d461;
  text-decoration: underline;
}

h1, h3 {
  font-family: var(--font-shrikhand);
  color: var(--color-primary);
  justify-content: left;
}

ul {
  justify-content: left;
}

p {
  justify-content: left;
}

body, #root, div {
  text-align: left;
  align-items: flex-start;
}